.page-header
  %h1 Software

%table.table.table-bordered.table-striped.table-condensed
  %thead
    %tr
      %th Name
      %th Version
      %th Installation Count
      %th Publisher

  %tbody
    - if @instances.any?
      - Application.order(:name).each do |application|
        - if application.instances.any?
          %tr
            %td #{application.name}
            %td #{application.version}
            %td #{Instance.where(application: application).count}
            %td #{application.publisher}
    - else
      %tr
        %td{ colspan: 4 }
          We don't know about any software on your computers.