%html
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
  %body

    %h2{ :style => "margin: 0; padding-top: 10px; padding-bottom: 10px;" } You're registered at GetLiberatio.com!

    %p{ :style => "margin: 0; font-size: 14px; padding-top: 10px; padding-bottom: 20px;" } If you haven't already, <strong>#{link_to "get your subscription started", new_subscription_url}</strong>.