%ol.breadcrumb
  %li.active
    Protection

.row
  .col-md-5

    .row
      .col-md-6
        .well.well-small
          %h3 12
          %h5 Devices Needing Updates
      .col-md-6
        .well.well-small
          %h3 12
          %h5 Updates Not Installed

  .col-md-5

    asdf