- content_for :title, "Signed Up"

.row{ :style => "margin-top: 60px; margin-bottom: 40px;" }

  .col-md-offset-3.col-md-8

    .row

      %h2 Congratulations, You've Got Liberatio!
      / %p.text-grayed You're signed up now, and you'll be billed <strong>#{number_to_currency(59)}</strong> monthly
      %p.text-grayed You're signed up now, and you're a part of the <strong>free public beta</strong>
      
      %br/

      %p
        = link_to dashboard_nodes_path, :class => "btn btn-primary btn-lg" do
          Continue to Liberatio Dashboard
          &#x279e;
