- content_for :title, "About"

= render partial: "layouts/onboarding_banner"

.row.row-padded

  .col-md-6
    %h2 About Liberatio
    %br/
    %p.expanded Liberatio is a cloud-based systems management tool designed to give you greater control and insight over your IT devices and infrastructure. Agents are a key component that, when deployed on your devices, enable real-time, two-way communication and management securely over the Web.
    %p.expanded Liberatio is a personal project of Joshua Shane Martin, Co-founder and CTO of Nfoshare.com, who was previously the IT Manager of a document management firm.
    %p.expanded
      %strong Contact him at josmar52789 [at] gmail [dot] com
