- content_for :title, "Configuring Liberatio Agent"

%ol.breadcrumb
  %li #{link_to "Documentation", browse_documentation_path}
  %li.active
    Configuring Liberatio Agent

.row
  .col-md-9
    %h3
      Configuring Liberatio Agent
      %br/
      %small Authored by Joshua Shane Martin | April 15, 2014

    %p.padded Liberatio Agent can be configured manually via the configuration file, or via the GUI; Liberatio Agent is only supported on Windows at this time.

    %br/

    .row

      .col-md-10.col-md-offset-1

        %h4 Windows (Graphical User Interface)
        %p.padded
          Launch the Liberatio Agent Tray Icon located at:
          %br/
          %pre Start > All Programs > Liberatio > <strong>Liberatio Agent</strong>

        %br/

        %h4 Windows (Configuration File)
        %p.padded Edit the configuration file using Notepad, text editor, or an XML Editor located at:
        %p.padded
          %strong Windows 32-bit Versions
          %br/
          %pre C:\Program Files\Liberatio Agent\LiberatioService.xml.config
        %p.padded
          %strong Windows 64-bit Versions
          %br/
          %pre C:\Program Files (x86)\Liberatio Agent\LiberatioService.xml.config
