- content_for :title, "Contacts"

= render partial: "layouts/onboarding_banner"

.row.row-padded

  .col-md-4
    %h2 Contacts
    %br/
    %p.expanded Give us a shout at the appropriate Email address and we'll get back to you within 24 business hours.

  .col-md-6.col-md-offset-1
    %h3 #{mail_to "sales@getliberatio.com"}
    %h5.text-muted Sales Inquiries
    %h3 #{mail_to "support@getliberatio.com"}
    %h5.text-muted Technical, Billing Questions
    %h3 #{mail_to "admin@getliberatio.com"}
    %h5.text-muted Questions, Comments
