- content_for :title, "Frequently Asked Questions"

%ol.breadcrumb
  %li #{link_to "Documentation", browse_documentation_path}
  %li.active
    Frequently Asked Questions

.row
  .col-md-9
    %h3
      Frequently Asked Questions
      %br/
      %small Authored by Joshua Shane Martin | April 9, 2014

.row
  .col-md-5

    %h4 What does Liberatio do?
    %p.padded Liberatio is a cloud-based systems management tool designed to give you greater control and insight over your IT devices and infrastructure. Agents are a key component that, when deployed on your devices, enable real-time, two-way communication and management securely over the Web.
    %p.padded More specifically, Liberatio consists of two components - the Liberatio Website, which provides an API and management interface, and software agents that are deployed onto devices to enable real-time management and inventory.

    %br/
    %br/

    %h4 What is a "Registration Code"?
    %p.padded The <strong>registration code</strong> is a string of characters that serve as a way to <em>initially associate</em> your Agents with your Liberatio account. After installing Liberatio Agent on a computer, you must enter the registration code in the Agent's configuration and restart the Agent - the Agent will perform the necessary steps to securely associate itself with your account upon restart.
    %p.padded The following steps will be taken on restart:
    %ol.list-padded
      %li Agent detects a registration code in configuration.
      %li Agent connects to Liberatio Website.
      %li Agent is registered and associated with your account.
      %li Website responds with a <strong>Communication Token</strong>.
      %li The Communication Token is saved to the configuration.
    %p.padded Every subsequent contact with the server includes the Communication Token to authenticate the request (the Communication Token is stored on the server to ensure that the Communication Token coming from the Agent matches the one on the server).

  .col-md-5.col-md-offset-1

    %h4 What is a "Communication Token"?
    %p.padded The <strong>Communication Token</strong> is a security token that is passed back and forth between the server and agent to authenticate that requests from the agent are valid.
    %p.padded A communication token is generated automatically by the Liberatio Website when the agent is registered, when the communication token is saved to the configuration for future communications. Every transmission from the agent will contain the communication token, which will be compared to the token on the server.
    %p.padded Communication Tokens are unique for each device.
