- content_for :title, "Getting Started"

%ol.breadcrumb
  %li.active
    Getting Started

.row
  .col-md-9
    %h3
      Getting Started with Liberatio
      %br/
      %small Authored by Joshua Shane Martin | April 9, 2014

    %p After you've signed up for Liberatio on the Website, you can begin by either adding devices of any type or system manually, or by installing the Agent on any Windows computer to have them inventoried, and to enable additional functionality such as Remote Commands, etc.