- content_for :title, "Pricing Information"

%h2 Simple, Direct Pricing

.row

  .col-md-8

    .row
      .col-md-6
        %h4.pricing-question.text-liberatio-primary.cursive How do I pay?
        %p.pricing-answer On a month-by-month basis. You pay each month via a debit or credit card. You can cancel at any time.

        %h4.pricing-question.text-liberatio-primary.cursive Is there a contract?
        %p.pricing-answer No, you can cancel your subscription and download your data at any time.

      .col-md-6
        %h4.pricing-question.text-liberatio-primary.cursive What platforms are supported?
        %p.pricing-answer Only Windows is supported by our Agent at this time - the Agent sends an inventory to Liberatio, and allows you to control the machine from the Liberatio Website. Any other type of device can be added manually.

  .col-md-4

    %h1 $59/month

    %h4 Single, Unified Plan Gets You:

    %ul.list-unstyled.list-padded
      %li &#x2713; Unlimited Devices
      %li &#x2713; Hardware Inventory
      %li &#x2713; Software Inventory
      %li &#x2713; Real-Time Windows Agent
      %li &#x2713; Execute Commands Remotely
      %li &#x2713; Determine Needed Updates

.text-center
  = link_to browse_buy_path, :class => "btn btn-primary btn-lg" do
    Sign Up Now
    &#x279e;
