.row
  .col-md-4
    %h3 How Does Billing Work?
    %p Simply, that's how! We hate

.row
  
  .col-md-offset-2.col-md-8

    .row

      .col-md-3

        %table.table.table-condensed.table-bordered
          %tr
            %th.text-center
              %h4.text-primary
                $ 19 / month
          %tr
            %td.text-center{ :style => "padding-top: 40px; padding-bottom: 40px;" }
              %strong Up to 5 Devices
          %tr.active
            %td.text-center
              = link_to "#", :class => "btn btn-primary" do
                %span.glyphicon.glyphicon-shopping-cart
                Sign Up

      .col-md-3

        %table.table.table-condensed.table-bordered
          %tr
            %th.text-center
              %h4.text-primary
                $ 89 / month
          %tr
            %td.text-center{ :style => "padding-top: 40px; padding-bottom: 40px;" }
              %strong Up to 25 Devices
          %tr.active
            %td.text-center
              = link_to "#", :class => "btn btn-primary" do
                %span.glyphicon.glyphicon-shopping-cart
                Sign Up

      .col-md-3

        %table.table.table-condensed.table-bordered
          %tr
            %th.text-center
              %h4.text-primary
                $ 299 / month
          %tr
            %td.text-center{ :style => "padding-top: 40px; padding-bottom: 40px;" }
              %strong Up to 100 Devices
          %tr.active
            %td.text-center
              = link_to "#", :class => "btn btn-primary" do
                %span.glyphicon.glyphicon-shopping-cart
                Sign Up

      .col-md-3

        %table.table.table-condensed.table-bordered
          %tr
            %th.text-center
              %h4.text-primary
                $ 599 / month
          %tr
            %td.text-center{ :style => "padding-top: 40px; padding-bottom: 40px;" }
              %strong Up to 500 Devices
          %tr.active
            %td.text-center
              = link_to "#", :class => "btn btn-primary" do
                %span.glyphicon.glyphicon-shopping-cart
                Sign Up

.row
  .col-md-4
    .well
      %h5 Payment Methods Accepted
      %p Visa / Mastercard / Discover / American Express