- content_for :title, "Terms and Privacy"

= render partial: "layouts/onboarding_banner"

.row.row-padded

  .col-md-6
    %h2 Terms and Privacy
    
    %p By accessing and using this website , you accept and agree to be bound by the terms and provision of this agreement. In addition, when using this website's particular services, you shall be subject to any posted guidelines or rules applicable to such services, which may be posted and modified from time to time. All such guidelines or rules are hereby incorporated by reference into the TOS.

    %p ANY PARTICIPATION IN THIS SITE WILL CONSTITUTE ACCEPTANCE OF THIS AGREEMENT. IF YOU DO NOT AGREE TO ABIDE BY THE ABOVE, PLEASE DO NOT USE THIS SITE.

    %hr/


    %p This site and its components are offered for informational purposes only; this site shall not be responsible or liable for the accuracy, usefulness or availability of any information transmitted or made available via the site, and shall not be responsible or liable for any error or omissions in that information.



    %p This site will collect and store your credit card number and billing information using a third party service in order to provide  recurring billing.